@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Geologica:wght@100..900&family=Questrial&family=Roboto&display=swap');

/* Variables */
:root {
    /* COLORS */
    --LIGHTEST: #FCFAFA;
    --LIGHT: #C8D3D5;
    --DARK: #A4B8C4;
    --DARKEST: #6E8387;
    --BLUE: #167d9d;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 1.5rem;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--DARKEST);
    background-color: var(--LIGHTEST);
    height: 100%;
}

/* STYLE FOR HOME BUTTON ----- START */
nav div {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
}

nav div:hover {
    filter: invert(92%) sepia(5%) saturate(1608%) hue-rotate(173deg) brightness(82%) contrast(85%);
}

nav div img {
    display: block;
    height: 100%;
    width: 100%;
    /* FILTER NEEDED TO CHANGE THE COLOR OF THE LOGO.png */
    filter: invert(48%) sepia(8%) saturate(702%) hue-rotate(142deg) brightness(102%) contrast(81%);
}

/* STYLE FOR HOME BUTTON ----- END */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

form {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--LIGHT);
    padding: 1.5rem 1.5rem;
    border-radius: 15px;
    max-width: 800px;
    width: 100%;
    font-size: 1rem;
    justify-content: space-between;
    height: 55vh;
    position: relative;
}

h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

form .field-container {
    width: calc(100% / 2 - 10px);
}

form .field-container label {
    font-weight: bold;
}

form .field-container input {
    margin-top: 10px;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
}

form div .message {
    margin-top: 10px;
    width: 206%;
    height: 30vh;
}

.resetBtn {
    position: absolute;
    bottom: 20px;
    width: 5rem;
    height: 1rem;
    background-color: lightcoral;
    color: var(--LIGHTEST);
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.submitBtn {
    position: absolute;
    bottom: 20px;
    right: 1.5rem;
    width: 5rem;
    height: 1rem;
    background-color: lightgreen;
    color: var(--DARKEST);
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}